@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to top, #f19b9b,rgb(233, 54, 54));
}

#voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
    background-color: #d3d0d0;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

div.conteudo{
    position: absolute;
    background-color:#d3d0d0 ;
    max-width: 350px;
    max-height: 350px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid rgb(168, 163, 163);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

form{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form > input{
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

form > button{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #AD130B;
    color: white;
    border: none;
    border-radius: 25px;
}

div{
    text-align: center;
    padding: 15px;
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #AD130B;
}