<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="../assets/logo-cantina.png" width="200" height="140"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg ms-auto">
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" routerLink="/home"
              >Cardápio</a
            >
          </li>
          <li class="nav-item dropdown me-5">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Produtos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>
        </ul>
        <div class="me-5">
          <a
            class="btn btn-danger me-5"
            href="#"
            role="button"
            routerLink="/loginForm"
            >Login
          </a>
          <a
            class="btn btn-danger"
            href="#"
            role="button"
            routerLink="/cadastroForm"
            >Cadastre-se</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
