@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffffff;
}

header{
    text-align: center;
    align-items: center;
    background-color: #b9b8b823;
    box-shadow: 1px 1px 2px #3f3f3f23;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #AD130B;
    background-color: #d3d0d0;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

main{
    text-align: center;
}

div.nome-cel > input {
    width: 15%;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

div.matricula > input{
    width: 20%;
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

div.endereco > input{
    width: 15%;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

div.origem > input{
    width: 5.2%;
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

div.turma > input{
    width: 15%;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

div.genero > input{
    width: 20%;
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

div.senha > input{
    width: 15%;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

div.login{
    width: 15%;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

input.formulario{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #AD130B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}